<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../home/assets/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    
    <script src="../public/js/javascript.js"></script>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-top-container">
                <div class="header-top-left">
                    <li><a href="">Sales Channel</a></li>
                    <li><a href="">Connect<i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i></a></li>
                </div>
                <div class="header-top-right">
                    <li>
                        <select id="language-select" name="language">
                            <option value="vi">Vietnamese</option>
                            <option value="en">English</option>
                        </select>
                    </li>
                    <li>
                        <div class="dropdown">
                            <span>NAME</span>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="header-main-logo">
                <i class="fa-brands fa-shopify"></i>
                <h1>BuyZone</h1>
            </div>
            <div class="header-main-search">
                <input type="search" placeholder="Search for product here...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="header-main-cart">
                <div class="notify">
                    <a href=""><i class="fa-solid fa-bell"></i></a>
                </div>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>

        </div>

        <div class="header-bottom">
            <div class="header-bottom-container">
                <div class="header-bottom-all-category">
                    <span><i class="fa-solid fa-list"></i>ALL CATEGORY</span>
                </div>
                <div class="header-bottom-all-link">
                    <ul>
                        <li><a href="">SHOP<i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">BLOGS<i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">ABOUT<i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">CONTACT<i class="fa-solid fa-angle-down"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <main>
            <section id="product-details">
                <div class="product-details-container">
                    <div class="product-title">
                        <h2>Home - Điện thoại thông minh</h2>
                    </div>
                    <div class="product-content">
                        <div class="product-images">
                            <div class="main-image">
                                <img src="../home/assets/images/Home/iphone14promax1.jpg" alt="">
                            </div>
                            <div class="thumbnails">
                                <img src="../home/assets/images/Home/iphone14promax2.jpg" alt="">
                                <img src="../home/assets/images/Home/iphone14promax3.jpg" alt="">
                                <img src="../home/assets/images/Home/iphone14promax4.jpg" alt="">
                            </div>
                        </div>
                        <div class="product-info">
                            <h1>Điện thoại Iphone 14 Pro Max 128GB</h1>
                            <div class="rateting-details">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h5>(10)</h5>
                            </div>
                            <h3>26,990,000 VND</h3>

                            <label for="quantity">Số lượng:</label>
                            <div class="quantity-control">
                              <button class="minus-btn"><i class="fas fa-minus"></i></button>
                              <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                              <button class="plus-btn"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="btn-add-pay">
                                <a id="themgiohang" href=""><i class="fa-solid fa-cart-plus"></i>Thêm Giỏ hàng</a>
                                <a id="muangay" href="">Mua ngay</a>
                            </div>
                            <label for="description">Mô tả:</label>
                            <p>iPhone 14 Pro Max. Bắt trọn chi tiết ấn tượng với Camera Chính 48MP. Trải nghiệm iPhone theo cách hoàn toàn mới với Dynamic Island và màn hình Luôn Bật. Công nghệ an toàn quan trọng – Phát Hiện Va Chạm thay bạn gọi trợ giúp khi cần.</p>        
                        </div>
                    </div>
                    
                    <div class="product-similar">

                    </div>
                </div>
            </section>
    </main>



    <footer>
        <div class="footer-container">
            <div class="footer-about-us">
                <h1>VỀ CHÚNG TÔI</h1>
                <p>Chào mừng bạn đến với BuyZone, website số một về mọi thứ liên quan đến thời trang, trang trí nhà cửa và công nghệ. Chúng tôi tận tâm cung cấp cho bạn những sản phẩm tốt nhất, chú trọng vào chất lượng, khả năng chi trả và sự hài lòng của khách hàng.</p>
                <h2>ĐỊA CHỈ BUYZONE</h2>
                <h3><i class="fa-solid fa-location-dot"></i>3/2, Ninh Kieu, Can Tho</h3>
                <h3><i class="fa-solid fa-phone-volume"></i>099 9999 999</h3>
                <h3><i class="fa-solid fa-envelope"></i>nhom13@gmail.com</h3>
            </div>
            <div class="footer-categorys">
                <h1>DANH MỤC</h1>
                <nav>
                    <ul>
                        <li><a href="">TRANG CHỦ</a></li>
                        <li><a href="">SẢN PHẨM</a></li>
                        <li><a href="">KHUYẾN MÃI</a></li>
                        <li><a href="">TIN TỨC</a></li>
                        <li><a href="">LIÊN HỆ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-information">
                <h1>THÔNG TIN</h1>
                <nav>
                    <ul>
                        <li><a href="">VỀ CHÚNG TÔI</a></li>
                        <li><a href="">KÊNH NGƯỜI BÁN</a></li>
                        <li><a href="">CHĂM SÓC KHÁCH HÀNG</a></li>
                        <li><a href="">CHÍNH SÁCH BẢO MẬT</a></li>
                        <li><a href="">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-account">
                <h1>TÀI KHOẢN</h1>
                <nav>
                    <ul>
                        <li><a href="">ĐĂNG KÍ</a></li>
                        <li><a href="">ĐĂNG NHẬP</a></li>
                        <li><a href="">TRANG CÁ NHÂN</a></li>
                        <li><a href="">GIỎ HÀNG</a></li>
                        <li><a href="">ĐƠN HÀNG</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-contact">
                <h1>LIÊN HỆ</h1>
                <p>Kết nối với chúng tôi qua các nền tảng mạng xã hội để cập nhật được những chương trình khuyến mãi mới nhất.</p>
                <div class="footer-contact-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-google-plus"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-pinterest"></i>
                </div>
                <h2>THANH TOÁN</h2>
                <div class="footer-contact-payment">
                    <img src="../public/images/Home/visa.png" alt="">
                    <img src="../public/images/Home/mastercard.png" alt="">
                    <img src="../public/images/Home/momo.png" alt="">
                    <img src="../public/images/Home/zalopay.png" alt="">
                    <img src="../public/images/Home/cardondelivery.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-coppyright">
            <p>&copy; 2023 BuyZone. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>